<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513537707759-nsojq4nbodg8b0qqbfuv3ktpaphjcjug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513537707759-nsojq4nbodg8b0qqbfuv3ktpaphjcjug</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ2BsywkVA3UC4dkSm1TZTT8M1pBM9p7w</string>
	<key>GCM_SENDER_ID</key>
	<string>513537707759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charakuri8.works</string>
	<key>PROJECT_ID</key>
	<string>works-92689</string>
	<key>STORAGE_BUCKET</key>
	<string>works-92689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513537707759:ios:74af5531f915f8160d551a</string>
	<key>DATABASE_URL</key>
	<string>https://works-92689.firebaseio.com</string>
</dict>
</plist>